/* EDIT THESE STYLES FOR YOUR TASKS */

.logo img {
    transition:all 350ms;
}
.logo img:hover{
    transform:scale(110%,110%) rotate(90deg)
}
.fancy-link {
    text-decoration: none; 
    background-image: linear-gradient(green, green);
    background-repeat:no-repeat;
    background-position:bottom left;
    background-size: 0% 3px; 
    transition: background-size 500ms ease-in-out;
    font-weight: 900;
    color:aliceblue
}

.fancy-link:hover{
    background-size:100% 3px;
}

.box-5{
   grid-area: five;
   animation: switchTo6 2s infinite ease;
}

.box-6{
    grid-area: six;
    animation: switchTo5 2s infinite ease;
}

@keyframes switchTo6{
    0%, 100% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(100%,0)
    }
}

@keyframes switchTo5 {
    0%,100% {
        transform:translate(0,0);
    }
    50% {
        transform: translate(-100%,0)
    }
}

.notification{
    position: relative;
    transform: translateX(-100vw);
    animation: slideIn 10s ease infinite;
    animation-delay: 3s;
}

@keyframes slideIn {
    0%{
        transform: translateX(-100vw)
    }
    50%{
        transform: translateX(0);
    }
    100%{
        transform:translateX(-100vw)
    }
}
